<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles/dailyView.css">
  <title>D2D</title>
</head>
<body>
  <% include views/nav.ejs %>

  <h1>date</h1>
  <div class="todo">
    <button onclick="showTodo()">투두 자세히 보기</button>
    <button onclick="editTodo()">수정하기</button>
    <button onclick="updateTodo()">수정 완료</button>
  </div>
  <hr>
  <div>
    <button onmouseover="showCreateTodoText()" class="plus">+</button>
    <form name="createTodo">
      <fieldset>
        <legend>새로운 투두 만들기</legend>
        <button type="button">이벤트</button> <button type="button">할일</button>
        <br>
        <input type="text" placeholder="이름" name="name" required>
        <input type="text" placeholder="집가고싶다." name="home" required>
        <button type="submit" onclick="createTodoTuple()">투두 생성하기</button>
      </fieldset>
    </form>
  </div>
  <div class="hello"></div>

</body>
<script src="/main/static/js/dailyView.js"></script>
</html>
