<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>D2D</title>
</head>
<body>
  <h1>date</h1>
  <div class="todo">
    <input type="checkbox" onclick="isCleared()">
    <button onclick="showTodo()" type="submit">투두 자세히 보기</button>
    <button onclick="editTodo(id)">수정하기</button>
    <button onclick="updateTodo()">수정 완료</button>
    <button onclick="deleteTodo()">투두 삭제하기</button>
  </div>
  <hr>
  <div>
    <button onmouseover="showCreateTodoText()" class="plus">+</button>
    <form name="createTodo">

      <fieldset>
        <legend>새로운 투두 만들기</legend>
        <button type="button">이벤트</button> <button type="button">할일</button>
        <br>
        <input type="text" placeholder="이름" name="name" required>
        <input type="text" placeholder="집가고싶다." name="home" required>
        <button type="submit" onclick="createTodoTuple()">투두 생성하기</button>
      </fieldset>
    </form>
  </div>
  <div class="hello"></div>
</body>
<script>
  const data = {
    name : "주니",
    date : "5월 13일",
    home : "네",
  };
  function showTodo(){
    //axios : get을 통해 "자세히보기";
    console.log("showTodo 실행");
    axios({
      method:"GET",
      url:"/showTodo",
      params: data,
    }).then((res)=>{
      console.log(res.data.date, " : 백엔드에서 넘어온 data");
    })
  }
  function isCleared(){
    //axios : patch를 통해 is_clear 항목 바꿔주기
    
  }
  function editTodo(id){
    //todo 수정하기, axios : get요청을 통해 input들에 data를 뿌려줄거에요
    //get요청 시 받아온 todo id를 보내줘야 해요
    console.log('나는 수정하기인데 이것좀 보여주세요');
    axios({
      method:"GET",
      url:"/editTodo",
      params:data,
    }).then((res)=>{
      console.log(res);
      console.log(res.data.name +' -> 백엔드에서 왔어요');
    }).catch(error=>{
      console.log(error);
    })
    //url:`/date/:todo_id`
    //data: {id:todo_id};
  }

  function updateTodo(){
    //Todo 항목을 수정할 수 있는 axios : patch 요청이에요. 
    console.log('TODO를 업데이트');
    
  }

  function deleteTodo(){
    console.log('TODO 삭제하기');
  }

  function showCreateTodoText(){
    //+버튼에 hover 시 Todo 작성하기 텍스트 보여주기
    console.log('todo를 만들어볼까요~');
  }
  
  function createTodoTuple(){
    //axios POST요청
    const form = document.forms['createTodo'];
    const data = {
      name: form.name.value,
      home: form.home.value
    }
    console.log(data);
    axios({
      method:"POST",
      url:"/newTodo",
      data:data,
    }).then((res)=>{
      alert(res.data.home);
      $('div.hello').append(`
        <h1>${res.data.name}</h1>
        <h1>${res.data.home}</h1>
      `)
    }).catch(err=>{
      console.log(err);
    })

  }
</script>
</html>