<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>D2D</title>
</head>
<body>
  <h1>date</h1>
  <div class="todo">
    <input type="checkbox" onclick="isCleared()">
    <button onclick="showTodo()">투두 자세히 보기</button>
    <button onclick="editTodo(id)">수정하기</button>
    <button onclick="updateTodo()">수정 완료</button>
    <button onclick="deleteTodo()">투두 삭제하기</button>
  </div>
  <hr>
  <div>
    <button onmouseover="showCreateTodoText()" class="plus">+</button>
    <form name="createTodo">

      <fieldset>
        <legend>새로운 투두 만들기</legend>
        <button type="button">이벤트</button> <button type="button">할일</button>
        <br>
        <input type="text" placeholder="어쩌구저쩌구">
        <button type="submit">투두 생성하기</button>
      </fieldset>
    </form>
  </div>
  
</body>
<script>
  function isCleared(){
    //axios : patch를 통해 is_clear 항목 바꿔주기
  }
  function showTodo(){
    //여기는 투두항목을 자세히 보기 위한 axios : get 요청을 보내려고 해요
    console.log('Todo를 자세히 보여줌');
  }

  function editTodo(id){
    //todo 수정하기, axios : get요청을 통해 input들에 data를 뿌려줄거에요
    //get요청 시 받아온 todo id를 보내줘야 해요
    //url:`/date/:todo_id`
    //data: {id:todo_id};
    console.log('Todo 수정하기');
  }

  function  updateTodo(){
    //Todo 항목을 수정할 수 있는 axios : patch 요청이에요. 
    console.log('TODO를 업데이트');
    
  }

  function deleteTodo(){
    console.log('TODO 삭제하기');
  }

  function showCreateTodoText(){
    //+버튼에 hover 시 Todo 작성하기 텍스트 보여주기
    console.log('todo를 만들어볼까요~');
  }
  
  function createTodoTuple(){
    const form = document.forms['createTodo'];
    //axios POST요청
  }
</script>
</html>