<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DayTodo</title>
  <link rel="stylesheet" href="/static/styles/date.css">
  <link rel="stylesheet" href="/static/styles/nav.css">
  <link rel="stylesheet" href="/static/styles/mypage.css">
</head>
<body>
  <%- include ('nav.ejs') -%>
  <!-- nav종료 -->
  <%- include ('mypage.ejs') -%>
  <!-- mypage종료 -->
<div class="container">
    <h2 id="currentDate" class="vision"></h2>
    <div id="scheduleList" class="schedule-list"></div>
    <div class="add-schedule-button-container">
      <button class="add-schedule-button" id="toggleAddScheduleForm">+</button>
      <br>
      <form id="addScheduleForm" class="hide">
        <input type="text" id="eventName" class="formtext" placeholder="일정을 입력하세요">
        <button type="submit">일정 추가</button>
      </form>
    </div>
</div>
<h1><%= res.todo_name %></h1>
<script src="/static/js/date.js"></script>
<script src="/static/js/nav.js"></script>
</body>
</html>