<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayTodo</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/date.css">
    <link rel="stylesheet" href="../static/styles/mypage.css">
    <style>
    </style>
</head>
<body>
    <%- include ('nav.ejs') -%>
    <!-- nav종료 -->
    <%- include ('mypage.ejs') -%>
    <!-- mypage종료 -->
    <!-- 선택된 달의 달력 표시 -->
    <div class="calendar">
        <div class="calendar-header">
            <button class="prev-month" onclick="previousMonth()">&laquo;</button>
            <h2 class="month-year"></h2>
            <button class="next-month" onclick="nextMonth()">&raquo;</button>
        </div>
        <table class="calendar-grid">
            <thead>
                <tr>
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/NAV.js"></script>
    <script src="/static/js/mypage.js"></script>
    <script src="/static/js/date.js"></script>
    <!-- <script src="../static/js/createtodo.js"></script> -->
</body>
</html>
