<link rel="stylesheet" href="/static/styles/viewTodo.css">
<link rel="stylesheet" href="/static/styles/nav.css">
<link rel="stylesheet" href="/static/styles/mypage.css">
<%- include ('nav.ejs') -%>
<!-- nav종료 -->
<%- include ('mypage.ejs') -%>
<!-- mypage종료 -->
<br>
<br>
<!-- 버튼 그룹 -->
  <div class="buttons">
    <button class="button selected">날짜별</button>
    <a href="/"> <!-- 수정된 부분 -->
    <button class="button selected">월간</button></a>
    <a href="/week">
    <button class="button selected">주간</button></a>
    <!-- <button class="button">태그별</button> -->
  </div>

  <!-- 투두 리스트 -->
  <div class="todo-list">
    <div class="todo-item">
      <input type="checkbox">
      <div class="todo-title">Todo 1</div>
      <div class="tags">
        <span class="tag">Tag 1</span>
        <span class="tag">Tag 2</span>
        <span class="tag">Tag 3</span>
      </div>
    </div>
  </div>

  <div class="todo-list">
    <div class="todo-item">
      <input type="checkbox">
      <div class="todo-title">Todo 2</div>
      <div class="tags">
        <span class="tag">Tag 1</span>
        <span class="tag">Tag 2</span>
      </div>
    </div>
  </div>

  <div class="todo-list">
    <div class="todo-item">
      <input type="checkbox">
      <div class="todo-title">Todo 3</div>
      <div class="tags">
        <span class="tag">Tag 1</span>
      </div>
    </div>
  </div>