<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>D2D</title>  
  <style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
        text-align: center; /* Center align the contents */
    }
    .navbar .brand {
        padding: 14px 20px;
        color: #f2f2f2;
        font-size: 20px;
        display: inline-block; /* Make it an inline-block to center */
        margin: auto; /* Center the brand horizontally */
    }
    .navbar a {
        display: block; /* Change to block for vertical alignment */
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px 20px;
    }
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    table {
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    th, td {
        border: 1px solid black;
        text-align: center;
        padding: 10px;
    }
    th {
        background-color: #f2f2f2;
    }
    td {
        height: 100px;
    }
  </style>
</head>
<body>
<h2><%= year %>년 <%= month + 1 %>월</h2>
<table>
<thead>
<tr>
  <th>일</th>
  <th>월</th>
  <th>화</th>
  <th>수</th>
  <th>목</th>
  <th>금</th>
  <th>토</th>
</tr>
<% let date = 0 %>
<% for(let i = 0;i< weekCount;i++){ %>
  <tr>
    <% for(let j=1;j <= 7; j++){ %>
      <% if(i * 7 + j < firstDayOfMonth + 1 || date >= daysInMonth){ %>
        <td></td>
    <% }else{ %>
        <td id="<%= date + 1 %>">
          <%= ++date %>
          
        </td>
      <% } %>
    <% } %> 
  </tr>
  <%}%>
</thead>
<tbody>
  
  </tbody>
</table>
<script>

</script>
</body>
</html>
