<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sidebar</title>
  <link rel="stylesheet" href="/main/static/styles/sidebar-d.css">
</head>
<body>
    <nav>
      <div class="navbar">
        <!-- label로 감싸진 햄버거 아이콘 -->
        <label for="menuCheckbox">
          <div id="menuToggle">
            <input id="menuCheckbox" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <li><a href="#">Create TODO</a></li>
              <li><a href="#">View TODO</a></li>
              <li><a href="#">Mypage</a></li>
            </ul>
          </div>
        </label>
      </div>
    </nav>
</body>
</html>
