<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>D2D</title>
</head>
<body>
  <h1>date</h1>
  <div class="todo">
    <button onclick="showTodo()">투두 자세히 보기</button>
    <button onclick="editTodo()">수정하기</button>
    <button onclick="updateTodo()">수정 완료</button>
  </div>
  <hr>
  <div>
    <button onmouseover="showCreateTodoText()" class="plus">+</button>
  </div>
  
</body>
<script src="/main/static/js/dailyView.js"></script>
</html>
