<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D2Dsidebar</title>
  <link rel="stylesheet" href="../../static/styles/sidebar-d.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <section>
        <article id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <li><a href="#">Create TODO</a></li>
            <li><a href="#">View TODO</a></li>
            <li><a href="#">Mypage</a></li>
          </ul>
        </article>
      </section>
    </nav>
  </header>
</body>
</html>
