body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
}

table {
    width: 90%;
    margin: 20px auto;
    background-color: white;
}

.dates {
    position: fixed;
    top: 0;
    left: 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

td {
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 5px;
    left: 5px;
    position: relative;
    height: 80px;
}

td:hover {
    border: 2px solid red;
}

th {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.calendar {
    margin-top: 50px;
    text-align: center;
}

.month-year {
    text-align: center;
}

.prev-month,
.next-month {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    .btn-container {
        margin-top: 20px;
    }

    .calendar {
        margin-top: 20px;
    }

    .calendar-header {
        margin-top: 20px;
    }
}
