body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
position: absolute;
top: 10px; /* Adjust the distance from the top */
right: 10px; /* Adjust the distance from the right */
}
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    position: relative; /* Added */
}

.popup-content h2 {
    margin-top: 0;
    text-align: center;
}

.popup-content input[type="text"],
.popup-content input[type="password"],
.popup-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.popup-content input[type="submit"] {
    color: #000;
    cursor: pointer;
}

.popup-content input[type="submit"]:hover {
    background-color: #4caf50;
}

.popup-content .social-login button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
}

.popup-content .social-login button:hover {
    background-color: #f9e000;
}

.popup-content .signup-link {
    margin-top: 10px;
}

.popup-content .signup-link p {
    margin: 0;
    font-size: 14px;
}

.popup-content .signup-link a {
    color: #551a8b;
    text-decoration: none;
}

.popup-content .signup-link a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}